<!DOCTYPE html>
<html>
    <head>
        <title>Observify</title>
        <link rel="stylesheet" href="/component/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="row">
            <div class="col-md-4">
                <div class="widget github">
                    <div class="front">
                        <h1>Github</h1>
                        <span class="status"></span>
                    </div>
                    <div class="back">
                        <span class="fa fa-thumbs-up"></span>
                        <span class="fa fa-thumbs-down"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget google">
                    <div class="front">
                        <h1>Google</h1>
                        <span class="status"></span>
                    </div>
                    <div class="back">
                        <span class="fa fa-thumbs-up"></span>
                        <span class="fa fa-thumbs-down"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget apergy">
                    <div class="front">
                        <h1>Apergy</h1>
                        <span class="status"></span>
                    </div>
                    <div class="back">
                        <span class="fa fa-thumbs-up"></span>
                        <span class="fa fa-thumbs-down"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="widget apergy">
                    <div class="front">
                        <h1>Apergy</h1>
                        <span class="status"></span>
                    </div>
                    <div class="back">
                        <span class="fa fa-thumbs-up"></span>
                        <span class="fa fa-thumbs-down"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget github">
                    <div class="front">
                        <h1>Github</h1>
                        <span class="status"></span>
                    </div>
                    <div class="back">
                        <span class="fa fa-thumbs-up"></span>
                        <span class="fa fa-thumbs-down"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget google">
                    <div class="front">
                        <h1>Google</h1>
                        <span class="status"></span>
                    </div>
                    <div class="back">
                        <span class="fa fa-thumbs-up"></span>
                        <span class="fa fa-thumbs-down"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="widget google">
                    <div class="front">
                        <h1>Google</h1>
                        <span class="status"></span>
                    </div>
                    <div class="back">
                        <span class="fa fa-thumbs-up"></span>
                        <span class="fa fa-thumbs-down"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget apergy">
                    <div class="front">
                        <h1>Apergy</h1>
                        <span class="status"></span>
                    </div>
                    <div class="back">
                        <span class="fa fa-thumbs-up"></span>
                        <span class="fa fa-thumbs-down"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget github">
                    <div class="front">
                        <h1>Github</h1>
                        <span class="status"></span>
                    </div>
                    <div class="back">
                        <span class="fa fa-thumbs-up"></span>
                        <span class="fa fa-thumbs-down"></span>
                    </div>
                </div>
            </div>
        </div>

        <script src="/observify.min.js"></script>
    </body>
</html>

