<!DOCTYPE html>
<html>
    <head>
        <title>Observify</title>
        <link rel="stylesheet" href="/component/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Press Start 2P">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="row">
            <div class="col-md-4">
                <div class="widget github">
                    <h1 class="fa fa-github"></h1>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget lastminute">
                    <h1>Lastminute.com</h1>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget apergy">
                    <h1>Apergy</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="widget apergy">
                    <h1>Apergy</h1>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget bitcoin">
                    <h1>
                        <i class="fa fa-btc"></i>1 = <i class="fa fa-gbp"></i><span class="gbp">0</span>
                    </h1>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget lastminute">
                     <h1>Lastminute.com</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="widget lastminute">
                    <h1>Lastminute.com</h1>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget apergy">
                    <h1>Apergy</h1>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget github">
                    <h1 class="fa fa-github"></h1>
                </div>
            </div>
        </div>

        <script src="/observify.min.js"></script>
    </body>
</html>

